
<div class="info">
<h1 id="title">Informações</h1>
<hr id="hrtitle">


    <h1>Empresa Contratante</h1>
    <hr>
    <div class="subinfo">
        <label for="cnpj">Cnpj:</label>
        <p>{{contratante.cnpj}}</p>
        <label for="razao">Razão Social:</label>
        <p>{{contratante.razao}}</p>
        <label for="endereco">Endereço Completo:</label>
        <p>{{contratante.endereco}}</p>
        <label for="telefone">Telefone: </label>
        <p>{{contratante.telefone}}</p>
    </div>

    <h1>Empresa Contratada</h1>
    <hr>

    <div class="subinfo">
        <label for="cnpj">Cnpj:</label>
        <p>{{contratado.cnpj}}</p>
        <label for="razao">Razão Social:</label>
        <p>{{contratado.razao}}</p>
        <label for="endereco">Endereço Completo:</label>
        <p>{{contratado.endereco}}</p>
        <label for="telefone">Telefone: </label>
        <p>{{contratado.telefone}}</p>
    </div>

    <h1>Demais Informações</h1>
    <hr>

    <div class="subinfo">
        <label for="status">Status: </label>
        <p>{{contrato.status}}</p>
        <label for="tipo">Tipo de Contrato: </label>
        <p>{{contrato.tipo}}</p>
        <label for="vigencia">Inicio da Vigência: </label>
        <p>{{contrato.vigencia}}</p>
        <label for="inicio">Data de Inicio:</label>
        <p>{{contrato.prazoInicio}}</p>
        <label for="fim">Data Final:</label>
        <p>{{contrato.prazoFim}}</p>
        <label for="valor">Valor do Contrato:</label>
        <p>{{contrato.valor}}</p>
        <label for="carencia">Término de Carência:</label>
        <p>{{contrato.carencia}}</p>

    </div>
</div>